<div class="default-spacing">
  <div class="row">
    <div class="alert alert-success" *ngIf="successMsg !== null && successMsg !== undefined">
      {{successMsg}}
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg !== null && errorMsg !== undefined">
      {{errorMsg}}
    </div>
    <br />
  </div>
  <div class="row">
      <div class="col-sm-12 text-center mb-3">
          <h3>Usuário</h3>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <!-- Empty -->
    </div>
    <div class="col-sm-4">
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name" class="control-label mb-2">Nome</label>
            <input name="name" id="name" class="form-control" type="text" value="{{usuario!.nome}}" disabled />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="username" class="control-label mb-2">Login de usuário</label>
            <input name="username" id="username" class="form-control" type="text" value="{{usuario!.login}}" disabled />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="creationDate" class="control-label mb-2">Data de Criação</label>
            <input name="creationDate" id="creationDate" class="form-control" type="text" value="{{creationDate}}" disabled />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="control-label mb-2">E-mail</label>
            <input name="email" id="email" class="form-control" type="email" [(ngModel)]="usuario!.email" />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="pwdToChange" class="control-label mb-2">Nova senha</label>
            <input name="pwdToChange" id="pwdToChange" class="form-control" type="password" [(ngModel)]="pwdToChange" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="pwdConfirm" class="control-label mb-2">Confirme nova senha</label>
            <input name="pwdConfirm" id="pwdConfirm" class="form-control" type="password" [(ngModel)]="pwdConfirm" />
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="curPwd" class="control-label mb-2">Senha atual</label>
            <input name="curPwd" id="curPwd" class="form-control" type="password" [(ngModel)]="currentPwd" />
          </div>
        </div>
        <div class="col-sm-6 text-end pt-4">
          <div class="pt-2">
            <button class="btn btn-primary" (click)="updateUser()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- Empty -->
    </div>
  </div>
</div>
