@model KnowledgeBaseForum.AdminWebApp.Models.ViewModel.GrupoViewModel

@{
    ViewData["Title"] = "Criação de Grupo";
    Dictionary<string, string> userData = (Dictionary<string, string>?)ViewData["Users"] ?? new Dictionary<string, string>();
}

<h3>Grupo</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <br />
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Incluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in userData)
                        {
                            <tr>
                                <td>
                                    @(item.Value)
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" name="user_@(item.Key)" id="user_@(item.Key)" value="@(item.Key)" class="form-check" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary mr-2 mt-4" />
                <a asp-action="Index" class="btn btn-secondary mt-4">Cancelar</a>
            </div>
        </form>
    </div>
</div>
