@{
ViewData["Title"] = "Gerenciamento de Grupos";
}

<h3>Grupo</h3>
<br />
<div class="row">
    <div class="form-group col-sm-4">
        @*<label for="countPerPage">N.º de usuários por página</label>
            <select class="form-select" name="countPerPage" id="countPerPage">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>*@
    </div>
    <div class="form-group col-sm-4">
        <label for="userFilter">Filtro (Descrição)</label>
        <input type="text" class="form-control" name="userFilter" id="userFilter" />
    </div>
    <div class="form-group col-sm-4">
        <button role="button" class="btn btn-primary mt-4" style="width: 100px;" id="searchBtn">Buscar</button>
    </div>
</div>
<hr />
<div class="row" id="searchResults"></div>

@section scripts
{
    <script>
        const getUserData = function (){
            const filter = $('#userFilter').val();
            const filterDefined = filter !== '' || filter !== null || filter !== undefined;
            const jsonData = {
                filter: (filterDefined ? filter : null)
            };
            $.post('@Url.Action("List", "Usuario")', jsonData, function(data, status){
                $('#searchResults').html(data);
            });
        };

        const activationToggle = function(_id, _status)
        {
            const jsonData = { id: _id, status: _status };
            $.post('@Url.Action("ToggleActivation", "Usuario")', jsonData, function(data, status){
                $('#userFilter').val('');
                getUserData();
            });
        }

        $(document).ready(function(){
            getUserData();
            $('#searchBtn').click(getUserData);
        });
    </script>
}
