<!-- Page Content -->
<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h3>{{topic!.titulo}}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-end">
          <small class="ion-margin-end">Alerta</small>
          <ion-toggle [checked]="alert !== null && alert !== undefined" (ionChange)="toggleAlert()"></ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <h5>Autor: <strong>{{topic!.usuario!.nome}}</strong></h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin-bottom">
          Estado: <em>{{topicStatusReadable}}</em>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <small>
            <small *ngIf="extractTags().length === 0">Sem tags</small>
            <ion-badge *ngFor="let tag of extractTags()"  class="ion-margin-end">{{tag}}</ion-badge>
          </small>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr />
    <div [innerHTML]="parsedContent" markdown ngPreserveWhitespaces lineNumbers lineHighlight emoji clipboard></div>
    <hr />
    <div>
      <ion-textarea [(ngModel)]="comment" placeholder={{commentPlaceholder}} class="ion-margin-bottom"></ion-textarea>
      <ion-button expand="block" (click)="null" (click)="saveComment()">Postar</ion-button>
      <ion-button expand="block" (click)="cancelEdit()" *ngIf="editMode" color="medium">Cancelar</ion-button>
    </div>
    <br />
    <div *ngIf="topic!.comentarios === null || topic!.comentarios === undefined || topic!.comentarios!.length === 0">
      <em>Não há comentários para esse tópico</em>
    </div>
    <ion-card *ngFor="let comment of topic!.comentarios" color="medium">
      <ion-card-header>
        <ion-card-subtitle>
          <strong>{{comment.usuario!.nome}} - {{parseDate(comment.dataCriacao)}}</strong>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{comment.conteudo}}
      </ion-card-content>
      <ion-grid *ngIf="comment.usuarioId === userData!.name">
        <ion-row>
          <ion-col>
            <ion-button fill="clear" color="dark" (click)="enableEdit(comment.id!)">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button fill="clear" color="dark" (click)="prepareDel(comment.id!)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>
</div>

<ion-alert header="Tópico"
           subHeader=""
           message={{failure}}
           [isOpen]="failure !== '' && failure !== null && failure !== undefined"
           [buttons]="['OK']"
           (didDismiss)="failure = undefined">
</ion-alert>

<ion-alert header="Comentário"
           subHeader="Apagar"
           message="Tem certeza que deseja apagar o comentário?"
           [isOpen]="delMode"
           [buttons]="deleteAlertBtns"
           (didDismiss)="cancelDel()">
</ion-alert>
