<div class="default-spacing" *ngFor="let entry of topico">
    <div class="row">
        <div class="alert alert-success" *ngIf="successMsg !== null && successMsg !== undefined">
            {{successMsg}}
        </div>
        <div class="alert alert-danger" *ngIf="errorMsg !== null && errorMsg !== undefined">
            {{errorMsg}}
        </div>
        <br />
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <label class="control-label">Titulo</label>
                <input name="titulo" id="titulo" class="form-control" type="text" [(ngModel)]="entry.titulo" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label">Estado do tópico</label>
                <select class="form-select" [(ngModel)]="entry.tipoAcesso">
                    <option value="0">Em edição</option>
                    <option value="1">Finalizado</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6"> <!-- Editor -->
            <label class="form-label">Editor</label>
            <textarea class="form-control" [(ngModel)]="entry.conteudo" rows="22"></textarea>
        </div>
        <div class="col-sm-6 border-start"> <!-- Renderer -->
            <markdown [data]="entry.conteudo" (keydown)="updateMarkdown()" ngPreserveWhitespaces lineNumbers lineHighlight emoji clipboard>
                <span class="text-secondary" *ngIf="entry.conteudo == '' || entry.conteudo == undefined || entry.conteudo == null">
                    <em>Escreva seu texto no espaço ao lado.</em>
                </span>
            </markdown>
        </div>
    </div>
    <br />
    <div class="text-end">
        <a class="btn btn-secondary me-2" (click)="cancelar()">Voltar</a>
        <input type="button" class="btn btn-primary" (click)="alterarTopico(entry)" value="Salvar" />
    </div>
</div>