@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-5">Acesso Administrativo</h1>
    <h1 class="display-6">Fórum de Base de Conhecimento</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
