@{
    bool isAdmin = this.User.Claims.Any(c => c.Value.Equals("ADMIN"));
    string userGivenName = this.User.Claims.GetGivenNameFromClaims() ?? "Usuário";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fórum de Base de Conhecimento</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.10.3/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KnowledgeBaseForum.AdminWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 shadow">
            <div class="container-fluid">
                <a class="navbar-brand text-white me-5" asp-area="" asp-controller="Home" asp-action="Index">Plataforma Administrativa</a> 
                <span class="nav-text text-white mt-1">Olá@($" {userGivenName}")!</span>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav ms-auto mt-1">
                        @if (isAdmin)
                        {
                            <li class="nav-item me-2">
                                <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="Index">
                                    <i class="bi bi-people"></i> Usuários
                                </a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="nav-link text-white" asp-area="" asp-controller="Topico" asp-action="Index">
                                    <i class="bi bi-file-earmark-richtext me-1"></i> Tópicos
                                </a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="nav-link text-white" asp-area="" asp-controller="Grupo" asp-action="Index">
                                    <i class="bi bi-diagram-3"></i> Grupos
                                </a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="nav-link text-white" asp-area="" asp-controller="Tag" asp-action="Index">
                                    <i class="bi bi-tags"></i> Tags
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Logout">
                                    <i class="bi bi-person-x"></i> Logout
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">
                                    <i class="bi bi-person-up"></i> Login
                                </a>
                            </li>                            
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white bg-dark fixed-bottom py-1 shadow-lg">
        <div class="container">
            &copy; 2023 - Fórum de Base de Conhecimento@* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
